* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* used image to give background stying to entire page*/

body {
    display: flex;
    flex-direction: column;
    background-image: url(b6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

    /*stylling for header and navigation menu*/

.head {
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.nav {
    margin: 3em 20em 2em 0em;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    font-weight: 700;
}

li {
    list-style: none;
}

/*general styling for main part*/

main {
    padding: 2em;
}

h1 {
    font-size: 3em;
    padding-bottom: 1em;
    word-spacing: 3px;
}

p {
    font-size: 1.5em;
    color: black;
}

h3 {
    margin-left: 2em;
}

section {
    padding-left: 2em;
}

/*progress bar creation* and styling*/

.progress-bar1 {
    width: 90%;
}

.in {
    background-color: white;
    width: 100%;
    padding: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 2);
}

.progress-bar-fill {
    display: block;
    width: 20%;
    height: 22px;
    background-color: #a2a5aa;
    border-radius: 3px;
    animation: fill-bar 4s ease-in;
}

@keyframes fill-bar {
    from {width: 0%;}
    to {width: 20%;}
}

/*styling of form elemens*/

.name-tab {
    display: flex;
    justify-content: space-around;
    padding: 1em 8em 1em 2em;
}

.country-tab {
    display: flex;
    padding: 1em 0 1em 7.7em;
}

 .address {
    display: flex;
    justify-content: space-around;
    padding: 1em 8em 1em 0em;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}

input {
    width: 25em;
    height: 4em;
}

select {
    width: 25.5em;
    height: 4em;
}

.text-area {
    display: flex;
    justify-content: flex-start;
    padding: 2em 0em 1em 1em;
}

.text-area p {
    font-size: 0.8em;
}

.text-box {
    margin-left: 1.9em;
}

/*Alternate shipping address input*/

#ship-address:checked~ .second {
    visibility: collapse;
}

.second {
    margin: 2em 0em;
}

/*button styling and placering*/

.button {
    display: flex;
    justify-content: flex-end;
    margin: 3em 4em 4em 0em;
}

.button input {
    height: 4em;
    font-size: 1.5em;
    width: 12em;
    font-weight: 700;
    background-color: #5b5f64;
    border: 0;
    cursor: pointer;
}

/*styling to fit in for smaller screens*/

@media only screen and (max-width:500px) {

    body {
        width: fit-content;
    }
    .head {
        flex-direction: column;
        padding: 1em 0em 0em 2em;
        border-bottom: 1px solid rgb(224, 39, 39);
    }

    .menu {
        flex-direction: column;
        line-height: 0.5em;
    }

    .nav {
        margin: 1em 0em;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
        padding-top: 0.5em;
    }

    h1 {
        font-size: 2em;
        padding-bottom: 1em;
        word-spacing: 1px;
    }
    
    p {
        font-size: 1em;
        color: rgb(41, 40, 40);
    }
    
    h3 {
        margin-left: 1em;
    }

    .in {
        width: 90%;
    }

    .name-tab {
        flex-direction: column;
        padding: 1em 0em;
    }

    .country-tab {
        padding: 1em 0em;
    }

    .address {
        flex-direction: column;
        padding: 1em 0em;
    }

    .text-area {
        flex-direction: column;
    }

    select {
        width: 18em;
    }

    .text-box {
        display: flex;
        margin: 1em 0em;
        width: 300px;
    }

    .button {
        display: flex;
        justify-content: center;
        margin: 2em 0em;
    }
}

@media only screen and (min-width:540px) and (max-width:700px) {
    .head {
        flex-direction: row;
        border-bottom: 1px solid rgb(224, 39, 39);
    }

    .nav {
        margin: 0;
    }

    .menu {
        flex-direction: column;
        line-height: 0.5em;
    }

    main {
        padding-top: 0.3em;
    }

    .name-tab {
        flex-direction: column;
    }

    .address {
        flex-direction: column;
        margin-left: 2em;
    }

    .country-tab {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 2em;
    }

    .text-area {
        flex-direction: column;
    }

    .text-box {
        display: flex;
        margin: 1em 0em;
        width: 450px;
    }

    .button {
        justify-content: center;
    }
}

/*design for ipads and other medium size screens*/

@media only screen and (min-width:701px) and (max-width:920px) {

    .nav {
        margin: 1em 0;
    }

    .name-tab {
        flex-direction: column;
        row-gap: 2em;
    }

    .address {
        flex-direction: column;
        row-gap: 2em;
        padding: 1em 16em 0em 0em
    }

    .country-tab {
        padding: 1em 2em 1em 3.5em;
    }

    .post {
        display: flex;
        padding:0em 0em 0em 3em ;
    }

    .text-area {
        flex-direction: column;
    }

    .text-box {
        display: flex;
        width: 600px;
        margin-top: 2em;
    }
}