
body{
    display:grid;
    background: rgb(82, 82, 58);
}


.img{
    border-radius: 50%;
}


header{
    display: flex;
    color:black;
    text-align: center;
    background:rgb(187, 187, 167);
    line-height: 12px;
}








.info{
    display:flexbox;
    box-sizing: content-box;
    width: fit-content;
    float: right;
    background: beige;
}





.link{
    display:flexbox;
    box-sizing: content-box;
    width: fit-content;
    font-size: 20px;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 2em;
}


.sidebar-head{
    font-size: 25px;
    font-style: italic;
    color: rgb(218, 141, 141);
}


.list{
    list-style: none;
}


.side-list{
    color:antiquewhite;
    font-size: 20px;  
}


.ref{
    color:antiquewhite;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}


.ref:hover{
    color: #0077b5;
}


.head-3{
    font-size: 30px;
    background: rgb(82, 82, 58) ;
}


.head-4{
    font-size: 25px;
    font-style: italic;
    color:grey;
}


.para{
    padding: 10px;
    font-size: 20px;    
}

footer{
    display: flexbox;
    box-sizing: content-box;
    text-align: center;
    padding:2px;
    height:auto;
    background-color: rgb(187, 187, 167);
}


.fa{
    padding: 20px;
    font-size: 2em;
    margin: 5px 80px;
}


.fa:hover{
    color: rgb(68, 100, 8);
}


.fa-facebook{
    background: #3b5998;
    color:white;
}



.fa-twitter{
    background:#55acee;
    color: white;
}


.fa-linkedin{
    background: #0077b5;
    color: white;
}


.fa-instagram{
    background: #3f729b;
    color: orangered;
}